<!-- 네비게이션 바 -->
<header>
    <nav class="navbar">
        <div class="container">
            <a href="/index.html" class="logo">Padiem<span style="color:#304ffe;">AI</span></a>
            <div class="mobile-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="navbar-links">
                <a href="/" class="active">Home</a>
                <a href="/products/" class="">Products</a>
                <a href="/design/" class="">Design</a>
                <a href="/about/" class="">About</a>
                <a href="/contact/" class="">Contact</a>
            </div>
        </div>
    </nav>
</header> 